.mainContainer{
    width: 940px;
    height: 1600px;
    background-color: white;
    border:1px solid red;
    margin: 0 auto;
}
.headerOne{
    font-size: 25px;
    color: rgba(0, 119, 255, 0.568);
    font-weight: bold;
    margin-left: 80px;  
}
.headerTwo{
    font-size: 25px;
    color: black;
    font-weight: lighter;  
}
.headerThree{
    font-size: 25px;
    color:#CBD4BF;
    float: right;
    font-size: 10px;
    padding: 5px;
    margin-right: 35px;
    margin-top: 10px;
}
.shop{
    margin-left: 590px;
    color: gray;
}
.line{
    box-shadow:1px 1px 20px grey;
    border-top: 25px grey;
}
#listproperty{
    margin-left: 35px;
}
.nav{
    overflow: hidden;
    list-style-type: none;
    font-size: 12px;
    margin:0px
}
.nav li{
    float:left;
}
.nav li a{
    float:left;
    padding: 2px;
    text-decoration: none;
}
.big{
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -130px;
    margin-left: 85px;
}
.small{
    font-size: 10px;
    margin-top: -35px;
    margin-left: 85px;  
}
.containerOne{
    width:940px;
    height: 200px;
    background-color: #FE7F16;
    border:1px solid red
}
.containerOneImage{
    margin-left: 140px;
}
.containerOneText{
    color: white;
    /* font-family: arial; */
    font-weight: lighter;
    overflow: visible;
   margin-left: 270px;
   margin-top: -170px;
   padding:0px;
}
.typeOne{
    background-color: black;
    color: white;
    border-radius: 15px;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: 360px;
}
.rating {
    color: orange;
    position: absolute;
    fill: orange;
 }
 .container,.containerBlog {
     width: 220px;
     height: 150px;
     background-color: white;
     border: 1px solid red;
     margin-left: 10px;
     display: inline-flex;
 }
 .containerBlog{
    width: 220px;
    height: 170px;
 }
.ContainerblogText{
    /* font-family: arial; */
    font-weight: lighter;
    overflow: visible;
   /* margin-left: 70px; */
   /* margin-top: 30px; */
   padding:0px;
   float: left;


}
 
 .titles{
     padding: 5px;
     margin-left: -8px;
     font-weight: bolder;
 }
 .brands{
     margin-left: 120px;
 }
 .iphone, .windows, .android  {
     width: 220px;
     height: 140px;
     margin-left: 15px;
     display:inline-flex;
     margin-top: 20px;
 }
 .iphone{
    background-color: #02BBF3;
 }
 
 .windows{
    background-color: #662079;
}
.android{
    background-color: #88C014;
}
.icon{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}
.titleApple, .titleWindows, .titleAndroid{
    font-style:initial;
    color: white;
    margin-left: 5px;
    font-size: 20px;
    font-weight: lighter;
    font-style: unset;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titleWindows{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 20px;
}
.brandText{
    font-size: 10px;
    color: white;
    vertical-align: bottom;
    margin-top:90px;
    margin-left: -130px;
}
.searchShop{
    float: right;
    margin-top: -15px;
}
.input-2 {
    margin-bottom: 30px;
    margin-left: 78%;
}
#search-img{
    margin-left:-30px;
    margin-bottom: -4px;
  }
  .input-2 input{
	border-radius:5px;
  }
  .subContainers{
      margin-left: 120px;
  }
.mobilesText{
    font-weight: lighter;
    font-size: 10px;
}
.starIcon{
    color: orange;
}